POSTGRES_DB=mingle
POSTGRES_USER=mingle
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=55432

REDIS_PORT=56379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET_ATTACHMENTS=mingle-attachments
MINIO_API_PORT=59000
MINIO_CONSOLE_PORT=59001
S3_REGION=us-east-1

SERVER_PORT=58080
